@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');


/*Reset da página*/
*{
	margin: 0;
	padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
}

/* ---------------------------------------------------- */
/*Menu*/
.navigation{
    /*Padding: primeiro valor é o de cima,
    segundo valor é direta,
    terceiro valor é baixo,
    quarto valor é esquerda
    */
    background-color: #0C002E;
}

.navigation__menu{
    /*Cria uma box para começar a mexer nela*/
    display: flex;
    /*Cria um espaçamento entre os itens*/
    gap: 3.75rem;
    /*Alinha os itens da box*/
    justify-content: center;
    /*Coloca espaçamento entre os itens de acordo com o tamanho da box em %*/
    padding: 2% 0% 2% 0%;
}

.navigation__menu__link{
    /*Tamanho da fonte, normalmente colocar em rem para se adaptar a acessibilidade no navegador (aumento de fonte do navegador)*/
    font-size: 2rem;
    /*Tira todo o sublinhado da fonte onde possui links*/
    text-decoration: none;
    /*Família da fonte*/
    font-family: 'Dosis', sans-serif;
    /*Cor da fonte*/
    color: #ffffff;
}

/* ---------------------------------------------------- */
/* Conteúdo da página */
.content{
    display: flex;
    align-items: center;
    /*Direção da box*/
    flex-direction: column;
}

.content__section__one{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding-top: 10%;
    padding-bottom: 10%;
    /*Cor de fundo da box*/
    background-color: #0C002E;
}

.content__section__title{
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    /*Peso da fonte*/
    font-weight: 600;
    font-size: 5.3rem;
}

.content__section__subtitle{
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}


/* Section dois */
.content__section__two{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    background-color: #000210;
    justify-content: space-between;
    padding: 8% 0% 8% 0%;
}

.content__section__two__paragraph{
    color: #ffffff;
    width: 45%;
    padding-left: 8%;
    font-size: 1.25rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.content__section__two__image{
    width: 30%;
    padding-right: 8%;
}