@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

:root {
    --azul-principal: #0C002E;
    --fonte-principal: 'Dosis';
    --branco: #FFFFFF;
}

/*Reset da página*/
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--azul-principal);
}

/* ---------------------------------------------------- */
/*Menu*/
.navigation {
    background-color: var(--azul-principal);
    padding: 1%;
}

.navigation__menu {
    display: flex;
    gap: 10rem;
    justify-content: center;
    list-style-type: none;
}

.navigation__menu__link {
    font-size: 2rem;
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: #ffffff;

}

.navigation__menu__link:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
}

/*
Faz com que o botão quando ativo, fique na cor definida
.navigation__menu__link:active{
    color: red;
}
*/

/* ---------------------------------------------------- */
/* Conteúdo da página */
.content {
    background-color: var(--azul-principal);
    padding: 15%;
}

.content__section__one {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content__section__title {
    color: var(--branco);
    font-family: 'Dosis', sans-serif;
    /*Peso da fonte*/
    font-weight: 600;
    font-size: 5.3rem;
}

.content__section__subtitle {
    color: var(--branco);
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.footer {
    display: flex;
    flex-direction: column;
    color: var(--branco);
    align-items: center;
}

.footer__media {}

.footer__social__media {
    text-decoration: none;
    color: var(--branco);
}

.instagram:hover {
    color: red;
}

.linkedin:hover{
    color: red;
}

.github:hover{
    color: red;
}



























@media (max-width: 768px) {
    .navigation {
        padding: 3%;
    }
}